body{
    font-family: sans-serif;
}
.Main-Div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input {
    background-color: rgba(78, 224, 78, 0.404);
    color: black;
    margin: 1%;
    font-size: 3vh;
}
button{
    background-color: white;
    padding: 0.5% 5%;
    font-size: 3vh;
}
button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 2s;
}